<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810508740069-9k9cqrf20ar9nf1htinfemihb1it7472.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810508740069-9k9cqrf20ar9nf1htinfemihb1it7472</string>
	<key>API_KEY</key>
	<string>AIzaSyDTvieyauNpZYlE6pzsaUMufz9jJjy2CH0</string>
	<key>GCM_SENDER_ID</key>
	<string>810508740069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zomatoCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>zomato-clone-22185</string>
	<key>STORAGE_BUCKET</key>
	<string>zomato-clone-22185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810508740069:ios:cb1663f51b37eb1d36fb0c</string>
</dict>
</plist>